PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/traxale-hrm
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password
SLACK_BOT_TOKEN=xapp-1-A0BE77A59GT-11491514080321-89b819eaf89d3583f22f6d2b816ed78ab275ad7bcbb6a4542098d55cfa7ff31d
SLACK_SIGNING_SECRET=41bfb79dded42462caa13049c5ec0ee7
SLACK_CHANNEL=A0BE77A59GT
